.container {
  border: solid 1px white;
  width: 100%;
  height: 10rem;
  border-radius: 1rem;
  padding: 0.2rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.header {
  width: 100%;
  justify-self: flex-start;
  top: 0;
  border-bottom: 1px white solid;
  /* align-self: flex-start; */
  /* text-align: center; */
}
.section {
  align-items: center;
  height: 100%;
  justify-content: center;
  text-align: center;
  /* border: solid 1px red; */
}
