.button {
  background: var(--button-background);
  color: var(--color);
  border: var(--color) 1px solid;
  padding: 0.2rem;
  line-height: 1.5;
  width: 5rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
}

.svg {
  color: var(--color);
  width: 20px;
  /* position: absolute; */
  z-index: 9999;
}

.text {
  translate: -100%;
  transform: translateX(70%);
}
