.container {
  width: calc(100% -2.5rem);
  border: solid 1px var(--color);
  border-radius: 0.5rem;
  display: flex;
  justify-content: end;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 2.5rem;
}

.logo {
  position: absolute;
  z-index: 9999;
  border-radius: 100%;
  object-fit: fit;
  width: 5.5rem;
  height: 5.5rem;
  border: solid 1px var(--color);
  margin-top: -0.7rem;
  background: var(--button-background);
}

.padded {
  position: relative;
  padding-bottom: 1rem;
}
.division {
  width: 100% !important;
  /* border: solid 1px red !important; */
}
