.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid white;
}
.textCenter {
  text-align: center;
  margin: 0 auto;
}
.body {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.ticketNumber {
  margin-top: -7px;
  margin-right: -5px;
}

.ticketUser {
  margin-bottom: -15px;
  margin-left: -5px;
}
