.informationCard {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-wrap: wrap;
  gap: 0.5rem;
}
.element {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.state {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: red;
}
.row {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
